{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'blog/css/main.css' %}"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    {% if title %}
    <title>Blog - {{ title }}</title>
    {% else %}
    <title>Blog</title>
    {% endif %}
  </head>
  <body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md bg-steel fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand mr-4" href="https://mpsolutions.com.vn/">
            <img
              src="{% static '/images/logo.jpg'%}"
              alt="Avatar Logo"
              style="width: 150px"
            />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarToggle"
            aria-controls="navbarToggle"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a
                class="nav-item nav-link"
                href="{% url 'blog-home' %}"
                style="font-size: 20px"
                >Home</a
              >
              <a
                class="nav-item nav-link"
                href="{% url 'blog-news' %}"
                style="font-size: 20px"
                >News</a
              >
              <a class="nav-item nav-link" href="#" style="font-size: 20px"
                >Service</a
              >
              <a class="nav-item nav-link" href="#" style="font-size: 20px"
                >About</a
              >
              <a class="nav-item nav-link" href="#" style="font-size: 20px"
                >Hirring</a
              >
              <a class="nav-item nav-link" href="#" style="font-size: 20px"
                >Contact</a
              >
            </div>

            <div class="navbar-nav">
              {% if user.is_authenticated %}
              <a
                class="nav-item nav-link"
                href="{% url 'post-create' %}"
                style="font-size: 20px"
                >Create Post</a
              >
              <a
                class="nav-item nav-link"
                href="{% url 'profile' %}"
                style="font-size: 20px"
                >Profile</a
              >
              <a
                class="nav-item nav-link"
                href="{% url 'logout' %}"
                style="font-size: 20px"
                >Logout</a
              >

              {% else %}
              <a
                class="nav-item nav-link"
                href="{% url 'login' %}"
                style="font-size: 20px"
                >Login</a
              >
              <a
                class="nav-item nav-link"
                href="{% url 'register' %}"
                style="font-size: 20px"
                >Register</a
              >
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <div class="news">
        <!-- <script src="{% static 'blog/myscripts.js' %}"></script> -->
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
        <link rel="stylesheet" href="blog/css/style.css" type="text/css" />
        <script src="{% static 'blog/menu.js' %}"></script>

        <table cellpadding="2" cellspacing="0">
          <tr>
            <td
              id="m1"
              class="menu-normal"
              onmouseover="javascript:MO(this);"
              onmouseout="javascript:MOut(this);"
              onclick="javascript:MC(this);"
            >
              VnExpress
            </td>
            <td
              id="m2"
              class="menu-normal"
              onmouseover="javascript:MO(this);"
              onmouseout="javascript:MOut(this);"
              onclick="javascript:MC(this);"
            >
              Dantri
            </td>
            <td
              id="m3"
              class="menu-normal"
              onmouseover="javascript:MO(this);"
              onmouseout="javascript:MOut(this);"
              onclick="javascript:MC(this);"
            >
              VTVNews
            </td>
            <td
              id="m4"
              class="menu-normal"
              onmouseover="javascript:MO(this);"
              onmouseout="javascript:MOut(this);"
              onclick="javascript:MC(this);"
            >
              Zing
            </td>
          </tr>
        </table>

        <hr />

        <iframe
          id="myframe"
          src="https://vnexpress.net"
          style="height: 900px; width: 100%"
        ></iframe>
      </div>
    </main>

    <!-- <footer></footer> -->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
